body{
margin:0;
text-align:center;
font-family:'merriweather',serif;
}
h1{
color: #66BFBF;
margin:50px auto 0 auto;
font-size:90px;
font-family:'Sacramento',cursive;
}
.caption{
font-weight:normal;
font-size:2.2rem;
margin:10px auto 50px auto;
color:#11999E;
}
h3{
color: #11999E;
font-family:'Montserrat',sans-serif;
}
.first{
background-color:#E4F9F5;
position:relative;
padding-top:100px;
}
.bottom-cloud{
position:absolute;
left:300px;
bottom:300px;
}
.top-cloud{
position:absolute;
right:450px;
top:30px;
}
.dp{
margin:50px auto 10px auto;
border-radius: 35%;
width:150px;
}
.second
{

}
.third
{
  text-align: left;
}
.fourth
{
  background-color: #66BFBF;
  margin-top: 50px;
  padding-top: 20px;
}
.des
{
  margin:auto;
  padding-bottom:30px;
  width:50%;
  font-family: Helvetica, sans-serif;
}
.skills
{
  margin-top:0px;
  padding-top:30px;
  font-weight: bold;
  color:#66BFBF;
  text-align: center;

}
.skill1
{
  width:50%;
  margin:50px auto 150px auto;
  line-height: 2;
}
.skill2
{
  width:50%;
  margin:150px auto 50px auto;
  line-height: 2;

}
.skill-img1
{
  float: left;
  padding-right:10px;
}
.skill-img2
{
  float:right;
}
hr
{
border-style: dotted none none;
height:0px;
border-color:grey;
border-width:5px;
width:5%;
margin:0 auto 0 auto;
margin-top: 20px;

}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30E3CB, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30E3CB, #2bc4ad);
  background-image: -o-linear-gradient(top, #30E3CB, #2bc4ad);
  background-image: linear-gradient(to bottom, #30E3CB, #2bc4ad);
  text-decoration: none;
}
.doubt
{
  color: #66BFBF;
  margin:50px auto 20px auto;
  font-family: serif;
}
.navbar-brand
{
  margin-left: 30px;
}
.skill
{
  width: 150px;
  margin:20px;
}
.skills-array
{
  text-align: center;
  justify-content: center;
}
.projects
{
  margin-top:0px;
  padding-top:30px;
  font-weight: bold;
  color:#66BFBF;
  text-align: center;
}
.project
{
  width: 400px;
  height:250px;
  margin:50px;
}
.contact
{
  margin-top: 20px;
}
.nav-link:hover
{
  border:1px solid green;
}
.nav-item
{
  margin:0 5px 0 5px;
}
.project:hover
{
  opacity: 90%;
}
.mrs{
  margin-right: 0px;
}
.popup{
  border:solid 1px black;
  transform: translate(-50%,-50%) scale(0.1);
  margin-top: 100px;
  width:200px;
  text-align: left;
  position: absolute;
  display:inline-block;
  background-color:#033b9c;
  border-radius: 7px;
  color: white;
  transition: transform 0.4s;
  visibility: hidden;
}
.popped
{
  transform: translate(-50%,-50%) scale(1);
  visibility: visible;
}
nav{
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 85px;
}
.logo{
    width:40px;
    height:40px;
    margin:15px 0 37px 15px;
}
.navlinks{
  display: flex;
  flex-direction: row;
}
.nav-item{
  color: white;
  margin:15px;
}
.navbar ul{
  list-style-type: none;
}
.mobile i{
  color: white;
  margin:20px 20px 0px 0px;
}
.mobile
{
  display:none;
}
@media screen and (max-width:769px){
  .navlinks{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        position: fixed;
        top:60px;
        right:-300px;
        width:200px;
        padding-bottom: 30px;
        background-color: black;
        transition: 0.3s ease-in-out;
        z-index: 9999;
    }
    .active{
        right:-20px;
    }
    .navlinks li{
        margin:10px;
    }
    .mobile{
        display: block;
        cursor: pointer;
    }

}
